//app sepcifics
.scaffold form legend + div {
	clear: both;
	padding-top:15px;
}

.scaffold form .controls .error {
	display:none;
}

.scaffold .details table tr td:first-child {
	width:20%;
}

.scaffold-form-tabs li .error {
	background-color: @errorBackground;
	border-color: @errorBorder;
	color: @errorText;
}